body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.navbar {
  background-color: #007BFF;
  padding: 10px;
  width: 100%;
  text-align: center;
}
.home-page {
  padding: 50px;
}

.todo-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.todo-table th, .todo-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.todo-table th {
  background-color: #f2f2f2;
}
.delete-button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
}

.completed {
  text-decoration: line-through;
}
.add-task-container {
  display: flex;
  margin-bottom: 10px;
}
