.home-page {
  padding: 50px;
}

.todo-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.todo-table th, .todo-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.todo-table th {
  background-color: #f2f2f2;
}
.completed {
  text-decoration: line-through;
}
